<%- include("layouts/head") %>
<div class="container">
    <h2 class="text-dark">
        Pag. not Fond
    </h2>
    <h4 class="text-dark">
        Please redirect to main menu to continue
    </h4>
    <a href="/" class="button btn-dark">Click me</a>
</div>
<%- include("layouts/footer") %>
