
  <footer class="fixed-bottom text-center text-white" style="background-color: hsla(209, 84%, 25%, 0.63);">
    <!-- Grid container -->
    <div class="container " style="height: 100px; margin-top: -50px;">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center" style="padding-top: 56px">
          <span class="me-3">Register for free</span>
          <a type="button" class="btn btn-outline-light btn-rounded" href="/register">
            Sign up!
          </a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: BetoWeb
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

</div>
</body>
</html>
